body {
  background: #D3D0CB;  
}

a { text-decoration: none;}

h2 {font-size: 34px;}
h3 {font-size: 20px;}

#page {
  width: 820px;
  margin: 0px auto;  
}

#main {clear: both;}


/* FRONT PAGE */

#logo-front {
  margin: 50px auto 20px auto;
  display: block;
  width: 306px; 
}

#hero { 
   margin: 50px 0px 50px 0px;
   position: relative;
   float: left; 
   width: 100%;
}


#how-it-works {
  width: 380px;
  float: left;
  padding-right: 20px;
  border-right: 1px solid #CFCBC6;
}

#features {
  width: 380px;
  float: left;
  padding-left: 20px;
  border-left: 1px solid #FFF; 
}

#reg-form {  
  text-align: center;
}

#reg-name {
  width: 625px;
  height: 60px;
  font-size: 24px;
  
}
#reg-create {
  height: 60px;
  width: 150px;
}

#reg-domain {
  text-align: right;
  margin-right: 200px;
  font-size: 14px;  
}


/* Secondary Pages */

#logo-secondary {
  width: 220px;
  float: left;
}

nav {
  width: 600px;
  float: left;
  text-align: right;
  text-transform: lowercase;
  font-size: 24px;
}

nav ul li {
  display: inline;
}



.no-info {
  width: 100%;
  text-align: center;
  padding: 50px 0px 100px 0px;
  
}


/* Table View */ 

.msg {
  width: 100%;
  padding: 20px 20px;
  border:1px solid #F0DDDD;
}

.msg a {
  display: block;
  
}

/* Footer */

footer {
  width: 100%;
  float: left;
  background: #2D2E2D;
  padding: 10px 0px;
  text-align: right;  
}

footer p {
  width: 820px;  
  margin: 0px auto;
}
