html {
  
}

body {
  background: url("/images/bg.png");
}

html, body {height: 100%;}

#page {
  min-height: 100%; 
  overflow:auto; 
  position: relative; 
  background: -webkit-gradient(radial, 500 0%, 10, 500 0%, 400, from(white), to(rgba(255, 255, 255, 0)));
  background: -moz-radial-gradient(top 45deg, circle closest-corner, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));  
}



footer {position: relative;
  margin-top: -37px; /* negative value of footer height */
  clear:both;} 



a { text-decoration: none;}

h2, h3 {
  color: #FFF;
  text-shadow:  0px 1px 1px #000;
}

h2 {font-size: 36px;}
h3 {font-size: 22px;}
h4 {font-size: 22px; color: #2D2E2D; margin: 0px 0px 10px 0px;}
header {
  position: relative;
  float: left;
  width: 100%;
}

#page {
  width: 957px;
  margin: 0px auto;  
}

#main {
  clear: both;
  width: 100%;
  margin: 0px auto;
}

#main.front { width: 820px; }

/* FRONT PAGE */

#logo-front {
  margin: 50px auto 20px auto;
  display: block;
  width: 306px; 
}

#hero { 
   margin: 50px 0px 50px 0px;
   position: relative;
   float: left; 
   width: 100%;
}


#how-it-works {
  width: 380px;
  height: 270px;
  float: left;
  padding-right: 20px;
  text-align: right;
  border-right: 1px solid #CFCBC6;
}

#features {
  width: 380px;
  height: 270px;
  float: left;
  padding-left: 20px;
  border-left: 1px solid #FFF; 
}

#reg-form {  
  text-align: center;
}

#reg-name {
  width: 620px;
  height: 60px;
  padding: 0px 0px 0px 5px;
  margin: 0px;
  border: 0px;
  font-size: 24px;
  float: left;
  outline: 0;   
  
    
  -moz-box-shadow:inset 0 0 5px #000000;
  -webkit-box-shadow:inset 0 0 5px #000000;
  box-shadow:inset 0 0 5px #000000;
    
  -moz-border-radius: 10px 0px 0px 10px;
  border-radius: 10px 0px 0px 10px;  
  
}
#reg-create {   
  width: 150px;
  height: 60px; 
  float: left;
  border:0px;
  background: #3282B3;
  color: #FFF;
  border-bottom: 4px solid #00486E;
  -moz-border-radius: 0px 10px 10px 0px;
  border-radius: 0px 10px 10px 0px;
  font-size: 16px;
  font-weight: bold;
}

#reg-domain {
  text-align: right;
  padding-top: 10px;
  margin-right: 200px;
  font-size: 18px;  
  clear:both;
  font-weight: bold;
  color: #747475;
}

#features h3{
  margin-bottom: 10px;  
}

#features p {
  margin-bottom: 10px;  
}



/* Secondary Pages */

#logo-secondary {
  width: 220px;
  float: left;
}

nav {
  width: 600px;
  float: left;
  text-align: right;
  text-transform: lowercase;
  font-size: 24px;
}

nav ul li {
  display: inline;
}



.confirm-info-box {
  position: absolute;
  width: 957px;
  height: 350px;
  text-align: center; 
  background: #FFFFFF;      
  opacity: .30; 
  filter: alpha(opacity=30);
  -ms-filter: "alpha(opacity=30)";
  -khtml-opacity: .30; 
  -moz-opacity: .30; 
}


.confirm-info {
  position: relative;
  width: 100%;
  text-align: center;
  padding: 10px 0px 100px 0px;
   
}

#confirm-form {
  width: 650px;
  padding-top: 20px;
  margin: 0 auto;
  
}

#confirm-email { 
  color: #3282B3;
  font-weight: bold;
  font-size: 24px;
  padding: 20px; 
  padding-top: 0px;
}

#confirm-inst {
  clear: both;
  color: #3282B3;
  padding: 45px 0px 0px 0px;
  font-size: 11px
}

#reg-confirm {   
  width: 150px;
  height: 60px; 
 
  border:0px;
  background: #3282B3;
  color: #FFF;
  border-bottom: 4px solid #00486E;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  font-size: 16px;
  font-weight: bold;
}



/* Empty View */

.empty-info-box {
  position: absolute;
  width: 957px;
  height: 350px;
  text-align: center; 
  background: #FFFFFF;      
  opacity: .30; 
  filter: alpha(opacity=30);
  -ms-filter: "alpha(opacity=30)";
  -khtml-opacity: .30; 
  -moz-opacity: .30; 
}

.not-found-box {
  height: 250px;  
}

.not-found {
  height: 200px;
}


.empty-info {
  position: relative;
  width: 100%;
  height: 350px;
  text-align: center;
  padding: 10px 0px 100px 0px;
   
}

.empty-info-msg {
  padding: 50px 0px;
  position: relative;
   
  vertical-align: top;
  font-size: 60px;
  font-weight: bold;
  color: #747475;
  
}

.empty-info-msg img {
  margin-bottom: -20px;
  margin-right: 20px; 
} 


.empty-info-text {
  font-size: 28px;
  padding-top: 20px;
  color: #747475;
 
}

/* Feed Pages */ 

#feed {
  float: left;
  clear: both;
  margin-top: 20px;
  width: 100%;
}



/* Table View */ 

.msg-top {
  background: url("/images/msg-tab-top.png") repeat-x;
  padding: 10px 0px 10px 30px;
  font-weight: bold;
  font-size: 14px;

  -moz-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
}

.msg {
  width: 100%;
  padding: 9px 0px 0px 0px;
  background: url("/images/msg-tab.png") repeat-x;
  height: 48px;
}

.msg a {
  display: block;
  
}

.to {
  text-align: right;
  width: 100%;
  padding: 20px 0px;
  
}

.msg-subject {
  font-weight: bold;
  font-size: 14px;
 
  padding: 10px 0px 10px 30px;
}

/* Footer */

footer {
  width: 100%;
  float: left;
  background: #2D2E2D;
  padding: 10px 0px;
  text-align: right;  
}

footer p {
  width: 957px;  
  margin: 0px auto;
}
