{% extends "base.html" %}

{% block content %}    
  
    {% if regShow %}
      <form action="/register" method="post" id="reg-form"> 
        <label for="em"></label><input type="text" name="email_name" id="reg-name" value="" />
        <input type="submit" id="reg-create" value="Create my feed" />
        <p id="reg-domain">@{{ hostname }}.appspotmail.com</p>
      </form>   
     {% endif %} 
     <div id="hero">
       <div id="how-it-works">
         <h2>Why It Works</h2>
         
         <p>Because you don't need all your social network notifications clogging your inbox.</p>
       </div>
       
       <div id="features">
         <h3>Web RSS Atom</h3>
         
         <p></p>
         
         <h3>Public URL</h3>
         
         <p></p>
         
         <h3>Manage Feed Sources</h3>
         
         <p></p>
         
       </div>
     </div>
{% endblock %}