{% extends "base.html" %}
{% block nav %}{% endblock %}

{% block content %}
    <h2>Get Started Now!</h2>
    <a href="{{ authControl }}">{{ authName }}</a>
    {% if regShow %}
      <form action="/register" method="post"> 
        <label for="em">Desired Email Address</label><input type="text" name="emailname" id="em" value="" /><input type="text" name="domain" disabled="disabled" value="@thisdomain.com" />
        <label for="pw">Password</label><input type="password" id="pw" name="password1" value="" />
        <label for="pwa">Password Again</label><input type="password" id="pw2" name="password2" value="" />
        <input type="submit" value="Let's do this!" />
       </form>   
     {% endif %}  
{% endblock %}