{% extends "user.html" %}
{% block content %}
  {% if accountExists %}
    <h2>Feed at {{ user }}</h2>
    <h3>Your email {{ to }}</h3>
    {% if empty %}
       <p>Message doesn't exist.</p>
    {% else %}  
   
        <div class="msg">
          <div class="msg-from">From: {{ email.fromAddress }}</div><div class="msg-subject">Subject: {{ email.subject }}</div><div class="msg-text">{{ email.body }}</div><div class="msg-date">{{ email.dateReceived}}</div>
        </div>
    
    {% endif %}
    
    
  
  {% else %}  
    <p class="no-info">Account doesn't exist!</p>
  {% endif %}
  
{% endblock %}

