{% extends "user.html" %}
{% block content %}
<div id="feed">
  {% if accountExists %}

        <div class="msg-single">
          
          <div class="f-infobar">
            <p><span>{{ email.dateReceived}}</span><span>{{ email.fromAddress }}</span></p>           
          </div>
          
          <div class="f-subject-bar">
            <p class="f-subject">{{ email.subject }}</p>
            
            <div class="f-controls">              
              <a href="/view/{{ feed_url }}">Back to feed</a>
              <a href="">Prev</a>
              <a href="">Next</a>             
            </div>
          </div>
          
          <div class="f-single">         
            <div class="f-single-content">{{ email.body }}</div>          
          </div>
          
        </div>  
  {% else %}  
     <div class="empty-info-box not-found-box"></div>
     <div class="empty-info not-found">
        <p class="empty-info-msg"><img src="/images/notfound.png" alt="Not Found" />Not Found.</p>        
     </div>    
  {% endif %}
</div>
{% endblock %}

