{% extends "user.html" %}
{% block content %}
<div id="feed">
  {% if accountExists %}
    {% if empty %}
      <div class="empty-info-box"></div>
      <div class="empty-info">
        <p class="empty-info-msg"><img src="/images/empty.png" alt="Empty" class="boom-icon" />Empty.</p>
        <p class="empty-info-text">Start forwarding your mail to <br/><strong>{{ to }}</strong></p>
      </div>
    {% else %}      
      {% for email in emails %}
        <div class="msg">
          <div class="msg-subject"><a href="/view/{{user}}/{{email.key.id}}">{{ email.subject }}</a></div>
        </div>
      {% endfor %}   
       <div class="to"><h3>{{ to }}</h3></div>
    {% endif %}
  {% else %}  
      <div class="empty-info-box not-found-box"></div>
      <div class="empty-info not-found">
        <p class="empty-info-msg"><img src="/images/notfound.png" alt="Not Found" />Not Found.</p>        
      </div>   
  {% endif %}
</div>
{% endblock %}