{% extends "user.html" %}
{% block content %}
  {% if accountExists %} 
    <h2>Feed at {{ user }}</h2>
    <h3>Your email {{ to }}</h3>
    {% if empty %}
       <p><img src="/images/empty.png" alt="Empty" /> Empty.</p>
       <p>Start forwarding your mail to {{feed_email}}</p>
    {% else %}  
      {% for email in emails %}
        <div class="msg">
          <div class="msg-subject"><a href="/view/{{user}}/{{email.key.id}}">{{ email.subject }}</a></div>
        </div>
      {% endfor %}   
    {% endif %}
  {% else %}  
    <p class="no-info"><img src="/images/notfound.png" alt="Not Found" />Not Found.</p>  
  {% endif %}  
{% endblock %}