{% extends "user.html" %}
{% block content %}
<div id="feed">
  {% if account_exists %}
    {% if empty %}
      <div class="empty-info-box"></div>
      <div class="empty-info">
        <p class="empty-info-msg"><img src="/images/empty.png" alt="Empty" class="boom-icon" />Empty.</p>
        <p class="empty-info-text">Start forwarding your mail to <br/><strong>{{ to }}</strong></p>
        <p class="empty-info-text">Add this feed to your RSS reader<br/><span class="feedurl">{{ feed_url }}</span></p>
      </div>
    {% else %}      
    <div class="msg-top"><div class="msg-title">Messages</div> <div class="msg-rss"><a href="/{{ feed_path }}">subscribe to feed</a></div></div>
      {% for email in emails %}
        <div class="msg">
          <div class="msg-subject"><a href="/view/{{feed_path}}/{{email.key.id}}">{{ email.subject }}</a></div>
        </div>
      {% endfor %}   
     <div class="msg-bot">{{ to }}</div>      
    {% endif %}
  {% else %}  
      <div class="empty-info-box not-found-box"></div>
      <div class="empty-info not-found">
        <p class="empty-info-msg"><img src="/images/notfound.png" alt="Not Found" />Not Found.</p>        
      </div>   
  {% endif %}
</div>


{% endblock %}